<template>
    <div class="search">   
    <input 
    type="text"
    placeholder="Search By Name"
    v-model="name"
    @keyup="filter()"
    >
    </div>
</template>


<script>
import {ref} from 'vue'
import {useStore} from 'vuex'
export default {
    setup(){
        const store = useStore()
        const name = ref ('')
        const filter = () => {
            store.dispatch('filterByName',name.value)
        }
        return{
            name,
            filter
        }
    }

    
}
</script>

<style lang="scss">
.search{
    width: 400px;
    margin: 5rem auto 0;
    left: -30px;
    right: -10px;
    input{
        height: 53px;
        width: 400px;
        border: none;
        border-radius: 10px;
        padding: 0 0.5rem;
    }
}

</style>