<template>
  <div class="container">
    <h1>Rick And Morty Wiki</h1>
    <FilterByStatus />
    <FilterByName />
    <CharactersList />
  </div>
  <footer>API by Rick And Morty API, Designed By Juan Camilo Niño</footer>
</template>

<script>
import FilterByName from './components/FilterByName'
import CharactersList from './components/CharactersList'
import FilterByStatus from './components/FilterByStatus'
export default {
  name: 'App',
  components: {
    FilterByName,
    FilterByStatus,
    CharactersList,
    
  }
}
</script>


<style lang= "scss">
:root {
  --background-body: #24282f;
  --background-card: #3c3e44;
  --text-white:#ffffff;
  --text-gray: gray;
  --text-orange: orange;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-body);
  color: var('--text-white');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: var(--text-white);
  margin-bottom: 3rem;
  text-align: center;
}

footer {
  color: var(--text-white);
  margin-bottom: 2rem;
  text-align: center;
}

.container{
  width: 980px;
  max-width: 90%;
  margin: 5rem auto
}

img {
  width: 100%;
}
</style>
